[{:name "Vars Resolution Demo"
  :hosts "all"
  :tasks
  [{:name "Show app name (from group_vars/all.edn)"
    :debug {:msg "App Name: {{ app_name }} (Global Env: {{ global_env }})"}}
   {:name "Show service type (from group_vars/webservers.edn or dbservers.edn)"
    :debug {:msg "Service Type: {{ service_type }}"}}
   {:name "Show http_port"
    :debug {:msg "HTTP Port: {{ http_port }}"}}
   {:name "Show db_port"
    :debug {:msg "DB Port: {{ db_port }}"}}
   {:name "Show custom host message"
    :debug {:msg "Custom message: {{ custom_message }}"}}]}]
